/* Slideshow container */
.slideshow-container {
  margin-top: 3%;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  margin-left: 70%;
  max-height: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

table,
th,
h2,
td {
  max-width: 385px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.808);
  color: white;
  border: 1px solid black;
  margin-left: 10%;
}

img {
  max-height: 450px;
  max-width: 450px;
  border: solid 3px black;
  border-radius: 10px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.loginBox {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 38%;
  left: 40%;
  width: 400px;
  padding: 40px;
  transform: translate(-50% -50%);
  background: rgba(0, 0, 0, 0.808);
  box-sizing: border-box;
  border-radius: 10px;
}

.loginBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.loginBox .userBox {
  position: relative;
}

.loginBox .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.loginBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.loginBox .userBox input:focus ~ label,
.loginBox .userBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.forgotPass {
  font-size: 12px;
  color: #5b6b8b;
  float: right;
}

.btnSubmit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
}

.btnSubmit:hover {
  background: #03e9f4;
  color: rgb(10, 11, 21);
  border-radius: 5px;
}

.btnSubmit span {
  position: absolute;
  display: block;
}

.btnSubmit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btnSubmit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(100deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btnSubmit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btnSubmit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*-----------------Top knapp-----------------------------------------------------------------------------*/
#myBtn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.205
  ); /* Add a dark-grey background on hover */
}
/* --------------------------------------------------------------------------------------------------*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.205
  ); /* Add a dark-grey background on hover */
}

/* Navigation */
span {
  text-align: right;
  color: whitesmoke;
  font-size: 23px;
  font-family: "Kumbh Sans", sans-serif;
  letter-spacing: 2px;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.topnav {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.226);
  overflow: hidden;
}

.topnav a {
  text-shadow: 4px 4px 4px black;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.cart1 {
  float: right;
}

.topnav a:hover {
  transform: scale(1.2, 1.2);
}

.topnav .icon {
  display: none;
}

.sticky .cart1 {
  position: fixed;

  top: 0;
  width: 100%;
  margin-top: 10px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 0;
}

/*text---------------------------*/

.Menintro {
  background-color: rgba(0, 0, 0, 0.774);
  max-width: 550px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 4px black;
  margin-top: 50px;
  color: white;
  margin-left: 150px;
  padding: 14px 16px;
  text-align: left;
  font-size: 25px;
  font-family: "Kumbh Sans", sans-serif;
}

/* --------------------------------------------Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  position: absolute;
  top: 95%;
  left: 80%;
  color: rgb(255, 255, 255);
}
