#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.205
  ); /* Add a dark-grey background on hover */
}

/* --------------------------------------------------------------------------------------------------*/
h1 {
  text-align: left;
  text-shadow: 4px 4px 4px black;
  max-width: auto;
  font-family: "Kumbh Sans", sans-serif;
  color: white;
  margin-top: 100px;
  margin-left: 50px;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  background-color: white;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  text-shadow: 4px 4px 4px black;
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.cart1 {
  float: right;
}

.topnav a:hover {
  transform: scale(1.2, 1.2);
}

.topnav .icon {
  display: none;
}

/*text---------------------------*/

.Menintro {
  margin-top: 50px;
  color: #f2f2f2;
  margin-left: 150px;
  padding: 14px 16px;
  text-align: left;
  font-size: larger;
}

/* --------------------------------------------Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  float: right;
  color: rgb(255, 255, 255);
  margin-right: 30px;
  margin-bottom: 30px;
}
