#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.205
  ); /* Add a dark-grey background on hover */
}

/* Navigation */
span {
  text-align: right;
  color: whitesmoke;
  font-size: 23px;
  font-family: "Kumbh Sans", sans-serif;
  letter-spacing: 2px;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.topnav {
  background-color: rgba(51, 51, 51, 0.116);
  overflow: hidden;
}

.topnav a {
  text-shadow: 4px 4px 4px black;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.cart1 {
  float: right;
}

.topnav a:hover {
  transform: scale(1.2, 1.2);
}

.topnav .icon {
  display: none;
}

.sticky .cart1 {
  position: fixed;

  top: 0;
  width: 100%;
  margin-top: 10px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 0;
}

/*text---------------------------*/
.intro {
  text-align: left;
  color: white;
  text-shadow: 4px 4px 4px black;
}
.Menintro {
  letter-spacing: 5px;
  text-shadow: 4px 4px 4px black;
  margin-top: 50px;
  color: white;
  margin-left: 150px;
  padding: 14px 16px;
  text-align: left;
  font-size: 25px;
  font-family: "Kumbh Sans", sans-serif;
}
.Womenintro {
  letter-spacing: 4px;
  text-shadow: 4px 4px 4px black;
  margin-top: 50px;
  color: white;
  margin-left: 150px;
  padding: 14px 16px;
  text-align: left;
  font-size: 25px;
  font-family: "Kumbh Sans", sans-serif;
}
/*--------------------products----------------------------------------------------------------------------------*/
img {
  max-height: 300px;
  max-width: 300px;
  border-top-left-radius: 100px;
}

.card {
  border-top-right-radius: 110px;
  border-top-left-radius: 110px;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  float: left;
  font-size: 10px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  max-width: 300px;
  max-height: 600px;
  margin: 8%;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

.price {
  color: rgb(143, 0, 0);
  font-size: 22px;
}

.card button {
  border-radius: 25px;
  border-color: white;
  outline: 0px;
  padding: 18px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 75%;

  font-size: 18px;
}

.card button:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

@media screen and (max-width: 600px) {
  .column {
    display: flex;
    float: left;
    width: 33.33%;
    width: 100%;
  }
}

/* --------------------------------------------Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  float: right;
  color: rgb(255, 255, 255);
  margin-right: 30px;
  margin-bottom: 60px;
}
